<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="exception_file" xsi:type="File"
        layout="${newline}${newline}${longdate} ${logger} ${newline}${message}${newline}${exception:format=ToString}"
        fileName="LogFiles/exception_${shortdate}.log" />
    <target name="file" xsi:type="File"
        layout="${newline}${newline}${longdate} ${logger} ${newline}${message}${newline}"
        fileName="LogFiles/${shortdate}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="exception_file" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>