<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="exception_file" 
            xsi:type="File"
            layout="${longdate} ${logger} ${newline}${message}${newline}${exception:format=ToString}${newline}${newline}"
            fileName="LogFiles/exception_${shortdate}.log"
            archiveFileName="LogFiles/exception_${shortdate}_{###}.log"
            archiveNumbering="Sequence"
            archiveAboveSize="1048576"/>
    <target name="file" 
            xsi:type="File"
            layout="${longdate} ${logger} ${newline}${message}${newline}${newline}"
            fileName="LogFiles/${shortdate}.log" 
            archiveFileName="LogFiles/${shortdate}_{###}.log"
            archiveNumbering="Sequence" 
            archiveAboveSize="1048576"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="exception_file" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>